@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="LibroList" asp-controller="Home" class="btn btn-warning btn-sm">Ir a la plataforma</a>
    <p>Learn about ASP.NET Core</p>
</div>
